<h1>Sign In</h1>

<p>Please enter your credentials below.</p>

<form id="signin">
   <div class="form-row">
       <label for="txt-email">Email</label>
       <input id="txt-email" type="email" name="email" maxlength="255" />
   </div>
    <div class="form-row">
        <label for="txt-password">Password</label>
        <input id="txt-password" type="text" name="password" maxlength="30" />
    </div>
    <div class="form-row button-row">
        <input type="button" name="signin" id="btn-signin" value="Sign In" />
    </div>
</form>
<div id="signin-result-section">
    <h2>Signin Result</h2>
    <textarea id="edt-result" readonly="readonly"></textarea>
</div>
<script src="js/signin.js"></script>
