body {
    font-family: sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 98%;
    margin: 2px auto;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 0.5em;
}


p {
    margin-bottom: 0.5em;
}

form {
    margin: 1em 0;
}

.form-row {
    margin-bottom: 0.5em;
}

.form-row label {
    display: inline-block;
    width: 80px;
}

.button-row {
    margin-top: 1em;
}

#signin #txt-email {
    width: 300px;
}

#signin #txt-password {
    width: 150px;
}

#signin-result-section {
    margin-top: 2em;
}

#signin-result-section textarea {
    width: 840px;
    height: 400px;
}

